# Ignore the virtual environment
venv

# Ignore the reports folder
reports

# Ignore the target environment
#target

# Ignore compiled Python source files
*.pyc

# App-ENV
app-env.sh
# Ignore SQLite database files
*.sqlite3

*.log
.*
